<div class="container">
  <div class="row justify-content-start">
    <div class="row justify-content-center">

      <nav class="navbar navbar-light bg-light">
        <a class="create, nav-item nav-link" routerLink="/create" routerLinkActive="active" ariaCurrentWhenActive="page" >Create</a>
        <a class="read, nav-item nav-link" routerLink="/read" routerLinkActive="active" ariaCurrentWhenActive="page" >Read</a>
        <a class="update, nav-item nav-link" routerLink="/update" routerLinkActive="active" ariaCurrentWhenActive="page" >Update</a>
        <a class="delete, nav-item nav-link" routerLink="/delete" routerLinkActive="active" ariaCurrentWhenActive="page" >Delete</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>